.vertical {
    display: flex;
    align-self: stretch;
    margin: 8px 0;
    border-left: 1px solid #030305;
    border-right: 1px solid #24273a;
    height: 100%;
}

.horizontal {
    border-top: 1px solid #030305;
    border-bottom: 1px solid #24273a;
    width: 100%;
}
