.gutter {
    margin: 0px 16px;
}

.gutterLeft {
    margin-left: 16px;
}

.gutterRight {
    margin-right: 16px;
}

.horizontal {
    display: flex;
    align-items: center;
}

.margin {
    margin-right: 8px;
}
