.root {
    position: relative;
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
}

.img {
    max-width: 100%;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    opacity: 0;
}

.show {
    opacity: 1;
}
