.root {
    position: relative;
    height: calc(100% - 25px);
}

.log {
    //min-height: 100%;
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
        'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
        'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
        monospace;
    white-space: pre-wrap;
    word-break: break-word;
    color: white;
    font-size: 0.8125rem;
    tab-size: 2;
    line-height: 1.4;

    // & > code {
    //     min-height: 100%;
    // }
}

.warn {
    color: #f1b40f;
}

.error {
    color: #ed442c;
}

.debug {
    color: #ffe650;
}

.emerg {
    color: #ff7957;
}

.info,
.message {
    color: #0ce4f1;
}

.note {
    color: #3ce1a3;
}

.verbose {
    color: #cfd8dc;
}
