.root {
    user-select: none;
    display: inline-block;
    font-size: 24;
    overflow: hidden;
    flex-shrink: 0;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.colorPrimary {
    stroke: var(--color-primary);
    fill: var(--color-primary);
}

.colorPrimaryLightness {
    stroke: var(--color-primary-lightness);
    fill: var(--color-primary-lightness);
}

.colorSecondary {
    stroke: var(--color-secondary);
    fill: var(--color-secondary);
}

.colorSecondaryLight {
    stroke: var(--color-secondary-lightness);
    fill: var(--color-secondary-lightness);
}

.colorPrimaryDarkness {
    stroke: var(--color-primary-darkness);
    fill: var(--color-primary-darkness);
}

.colorWarn {
    stroke: var(--color-warning);
    fill: var(--color-warning);
}

.colorDanger {
    stroke: var(--color-danger);
    fill: var(--color-danger);
}

.colorInfoLight {
    stroke: var(--color-info-light);
    fill: var(--color-info-light);
}

.colorInfo {
    stroke: var(--color-info);
    fill: var(--color-info);
}

.colorInfoDark {
    stroke: var(--color-info-dark);
    fill: var(--color-info-dark);
}

.colorInfoHighlight {
    stroke: var(--color-info-highlight);
    fill: var(--color-info-highlight);
}

.colorTextPrimary {
    stroke: var(--color-white-90);
    fill: var(--color-white-90);
}

.colorTextSecondary {
    stroke: var(--color-secondary-lightness);
    fill: var(--color-secondary-lightness);
}

.colorBlack {
    stroke: var(--color-black-100);
    fill: var(--color-black-100);
}

.colorGreenLight {
    fill: url(#icon-component-gradient-greenLight);
}

.colorOrangeLight {
    fill: url(#icon-component-gradient-orangeLight);
}

@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
        .colorGreenLight {
            stroke: var(--color-primary);
            fill: var(--color-primary);
        }

        .colorOrangeLight {
            stroke: var(--color-danger-light);
            fill: var(--color-danger-light);
        }
    }
}
