$card-heigth: 80px;

.root {
    overflow: hidden;
    will-change: overflow;
}

.container {
    overflow-y: auto;
    overflow-x: scroll;
    display: flex;
    box-sizing: content-box;
    padding-bottom: 17px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; // IE 10+
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar {
        display: none;
    }
}

.child {
    height: 100%;
    padding: 0px 4px;

    &:first-child {
        padding-left: 16px;
    }

    &:last-child {
        padding-right: 16px;
    }
}