$sideAreas: 48px;
$heightDense: 48px;
$heightRegular: 56px;
$heightLarge: 64px;

.root {
    position: relative;
    width: 100%;
    display: flex;
    z-index: 1100;
    box-shadow: none;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
    background-color: transparent;
    align-content: stretch;
    padding: 0 4px;
}

.gutters {
    padding: 0 16px;
}

.toolbar {
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    height: 100%;
    justify-content: space-between;
}

.toolbarRight {
    .centerArea,
    .centerRegular {
        padding-left: 12px;
        flex-grow: 1;
    }
}

.toolbarLeft {
    .centerArea,
    .centerRegular {
        padding-right: 12px;
        flex-grow: 1;
    }
}

.toolbarCenterOnly {
    justify-content: center;
}

.toolbarRightOnly {
    justify-content: flex-end;
}

.toolbarLeft {
    justify-content: flex-start;
}

.dense {
    height: $heightDense;

    .leftArea {
        width: $heightDense;
    }

    .rightArea {
        width: $heightDense;
    }
}

.regular {
    height: $heightRegular;

    .leftArea {
    }

    .rightArea {
    }
}

.large {
    height: $heightLarge;

    .leftArea {
        width: $heightLarge;
    }

    .rightArea {
        width: $heightLarge;
    }
}

.buttonArea,
.iconArea {
    position: relative;
}

.iconArea {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.titleArea {
    display: flex;
}

.titleDense,
.centerDense {
    flex-grow: 1;
}

.titleRegular,
.centerRegular {
    flex-grow: 1;
}

.titleLarge,
.centerLarge {
    flex-grow: 1;
}

.leftArea,
.centerArea,
.rightArea {
    display: flex;
    height: 100%;
    align-items: center;
}

.leftArea {
    justify-content: center;
}

.leftAreaDense,
.leftAreaRegular,
.leftAreaLarge,
.rightAreaDense,
.rightAreaRegular,
.rightAreaLarge {
    min-width: $sideAreas;
    flex-grow: 0;
    flex-shrink: 0;
}

.centerArea {
}

.centerGutters {
}

.rightArea {
    justify-content: flex-end;
}
