.root {
    position: relative; // margin: $spacing; //padding: $spacing * 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    justify-content: center;
}

.top {
    justify-content: start;
}
