html {
  height: 100vh;
}

#root,
body,
.App {
  height: 100%;
}

.App {
  text-align: center;
}

.testArea {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
