.progressBar {
    position: relative;
    width: 100%;
    background-color: var(--color-secondary-dark);
    border-radius: 2px;
    min-height: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
}

.progressBarFill {
    position: absolute;
    display: block;
    height: 100%;
    border-radius: 2px;
    transition: width 500ms ease-in-out;
}

.animate {
    &:first-child {
        animation: increase 2s infinite;
    }

    &:last-child {
        animation: decrease 2s 0.5s infinite;
    }
}

@keyframes increase {
    from {
        left: -5%;
        width: 5%;
    }

    to {
        left: 130%;
        width: 100%;
    }
}

@keyframes decrease {
    from {
        left: -80%;
        width: 80%;
    }

    to {
        left: 110%;
        width: 10%;
    }
}
